// Variables

$colorPrincipal: #010101;


.contenedorContacto{

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "tituloPagina tituloPagina"
                        "textoIntro textoIntro"
                        "form fotoPractica";
    width: 95%;

    @media(max-width:768px){
        grid-template-columns: 1fr;
        grid-template-areas: "tituloPagina"
                            "textoIntro"
                                "form"
                                "fotoPractica";
    }

    p{
        padding-left: 50px;
            text-align: justify;
    }

    #tituloPagina{
        grid-area: tituloPagina;
        padding-left: 30px;
        margin-bottom: 20px;
    }                        

    #textoIntro{
        grid-area: textoIntro;
        padding-left: 50px;
        padding-right: 50px;
    }

    .imagenContacto{
        grid-area: fotoPractica;
        align-self: center;
        text-align: center;
        #fotoPractica{
            
            content: url("/Images/kata.png");
            justify-self: center;
            margin: 40px auto 20px auto;

            @media(max-width: 768px){
                margin-top: 60px;
            }

        }
    }

    form{
        grid-area: form;
        margin-top:0px;
        margin-left: 50px;
        margin-right: 50px;
        justify-self: center;

        #campoNombre, #campoMail, #campoTelefono{
            font-size: 20px;
            font-weight:600;
            width: 400px;
            color: $colorPrincipal;
            display: block;
        }

        #campoConsulta{
            font-size: 20px;
            font-weight:600;
            width: 400px;
            color: $colorPrincipal;
            display: block;
            height: 100px;
        }

        #botonSubmit, #botonReset{
            margin-top: 30px;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            padding-left: 8px;
            padding-right: 8px;
        }

        label{
            margin: 0px;
            p{
                margin: 15px 0px 0px -50px;
            }
        }  
    }
}