//Variables

$flyerGrande:url("/Images/FlyerPpal.png");
$flyerChico: url("/Images/FlyerPpal150x414.png");

// Contenido

#divFlyer{
    display: flex;
    background-color: black;
    background-image: $flyerGrande;
    background-size: cover;
    background-attachment:local;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;

    @media (max-width:576px){
        background-image: $flyerChico;
    }

    @media (max-width:768px){
    background-image: $flyerChico;
    }
}

.contenedorIndex{

    h1{
        padding: 40px 30px;
    }

    h2{
        padding: 40px 30px;
    }

    h3{
        padding: 30px 0px 30px 50px;
        @media(max-width:768px){
            margin-right: 30px;
            margin-left: 30px;
            padding-left: 0px;
        }
    }

    p{
        padding-left: 50px;
    }
}