#tablaDojos{
    background-image: linear-gradient(to right, darkcyan, rgb(3, 48, 48) );
    
    .headerTablaDojos{
        background-color:rgb(17, 48, 48); 
        text-align: center;
        padding: 10px;
    }
    
    .contentTablaDojos{
        padding: 10px;
    }
}